@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

//Fuentes
$fuente_titulos: 'Poppins', sans-serif;
// $fuente_base: 'Inter', sans-serif;

//Tamaños Media Queries

$telefono: 48rem;
$tablet: 65rem;
$desktop:102.4rem;

//Colores

$principal: #1E213A;
$secundario: #100E1D;
$terciario: #292C44;
$cuaternario: #C7B95A;
$gris: #6E707A;
$blanco: #ffffff;
$negro: #000000;